/******************************** TAG SELECTORS ********************************/
body {
  background-color: #393e46;
  margin: 0;
  text-align: center;
  font-family: 'Raleway', brandon-grotesque, 'HelveticaNeue Light', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, system-ui;
  color: #eaeaea;
}

h1 {
  color: #ff2e63;
  font-size: 2.5em;
}

h2 {
  color: #ff2e63;
  font-size: 2.25em;
}

h3 {
  color: #00adb5;
  font-size: 2em;
}

h4 {
  color: #00adb5;
  font-size: 1.75em;
}

p {
  font-size: 1.5em;
}

ul {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  float: left;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 50%;
}

a {
  font-family: 'Montserrat', sans-serif;
}

a:link {
  text-decoration: none;
  color: #eaeaea;
}

a:visited {
  color: #eaeaea;
}

a:hover {
  color: #a4ebf3;
}

/******************************* CLASS SELECTORS *******************************/
/**************** DIVS ****************/
.top-container {
  background-color: #222831;
  padding-top: 15%;
  position: relative;
  overflow: hidden;
}

.introduction {
  padding-bottom: 10%;
  max-width: 100%;
}

.middle-container {
  background-color: #222831;
}

.profile {
  padding: 5%;
}

.skills {
  padding: 5%;
}

.skill-row {}

.contact-me {
  padding: 5%;
}

.bottom-container {
  background-color: #393e46;
  padding: 5%;
}

.footer-list {
}


/*************** IMAGES ***************/
.amsterdam3 {
  width: 40%;
}

.city-image {
  /*height: 200px;*/
  width: 600%;
}

.cloud-image {
  height: 50px;
}

.cloud-top {
  height: 7%;
  position: absolute;
  left: 5%;
  bottom: 85%;
}

.cloud-left {
  height: 6%;
  position: absolute;
  bottom: 45%;
  left: 5%;
}

.cloud-right {
  height: 6.5%;
  position: absolute;
  right: 2%;
  bottom: 55%;
}

.email-image {
  position: relative;
  top: 0.2em;
  left: 0.15em;
  width: 4%;
}

/**************** TEXT ****************/
.blue {
  color: #00adb5;
}

.red {
  color: #ff2e63;
}

.button {
  background-color: #00adb5;
  display: inline-block;
  padding: 1em;
  width: 50%;
}

.intro {
  font-family: 'Amsterdam';
  font-weight: 300;
  margin: 0;
  font-size: 10em;
  /*font-family: 'Sacramento';
    font-weight: 300;
    margin: 0;
    font-size: 5.625em;*/
}

.no-margin {
  margin: 0;
}


/******************************** ID SELECTORS *********************************/
