/******************************** TAG SELECTORS ********************************/

body {
  background-color: #222831;
  margin: 0;
  text-align: center;
   /*font: 100% calibri,helvetica,sans-serif;*/
   /*font-family: system-ui;*/
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #eaeaea;
}


/******************************* CLASS SELECTORS *******************************/

/**************** DIVS ****************/
.top-container {
  background-color: #393e46;
  padding-top: 15%;
  position: relative;
  overflow: hidden;
}

/*.middle-container {
  background-color: #00adb5;
  height: 200px;
  width: 200px;
}*/

/*.bottom-container {
  background-color: #eeeeee;
  height: 200px;
  width: 200px;
}*/

.introduction {
  padding-bottom: 50px;
  max-width: 100%;
}

/*************** IMAGES ***************/
.city-image {
  height: 200px;
}

.cloud-image {
  height: 50px;
}

.cloud-1 {
  position: absolute;
  top: 7%;
  left: 7%;
}

.cloud-2 {
    position: absolute;
    bottom: 45%;
    left: 5%;
}

.cloud-3 {
  height: 45px;
  position: absolute;
  right: 5%;
  bottom: 65%;
}

.name-image {
  height: 100px;
}

/**************** TEXT ****************/
.blue {
  color: #00adb5;
}

.red {
    color: #ff2e63;
}


/******************************** ID SELECTORS *********************************/
